$primary-font: Georgia, serif;

.header {
  margin: 10px 20px 10px;
}

.background {
  background: rgb(142, 142, 245);
  font-family: $primary-font;
  text-align: center;
}

.navbarLayout {
  display: flex;
  justify-content: space-evenly;
}
